.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 7;
  height: 10vh;
}
.header-div1 {
  display: flex;
  align-items: center;
}

.header-img {
  width: 200px;
  height: auto;
  margin-right: 10;
}

.form,
.transcript {
  width: 600px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  padding-left: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-div1,
.transcript_div {
  margin: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content {
  padding: 24;
  margin: 0;
  margin-top: 50px;
  min-height: 280;
}
.input-field {
  height: 50px;
  font-size: 15px;
  border-color: #88da68;
}

.main-header {
  background-color: white;
  padding-bottom: 10px;
  width: auto;
  position: sticky;
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgb(234, 236, 240);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  justify-content: space-between;
}

.typo-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #88da68;
  margin-left: -20px;
}
.main-content2 {
  padding: 24px;
  min-height: 280;
  height: 83.5vh;

  overflow-y: auto;
}
.sider1 {
  overflow: auto;
  height: 100hv;
  position: sticky;
  top: 0px;
  left: 0px;
  border-right: 2px solid rgb(234, 236, 240);
}

.main-content {
  width: 75vw;
}

.card-info-btn {
  width: 150px;
}
.shrtlogo {
  width: 40px;
}
.logo {
  width: 150px;
}
.shrtlogo,
.logo {
  height: auto;
  margin-right: 10px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: px;
}

.ant-layout .ant-layout-sider-trigger {
  background-color: rgba(47, 193, 21, 0.1);
  color: #000000;
}

.menu {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(88, 88, 88);
  font-weight: normal;
}

.ant-typography h2 {
  color: rgb(40 123 31);
}

.ant-menu-light .ant-menu-item-selected {
  border-radius: 0px;
  color: #257a04;
  border-bottom: 2px solid green;
  background-color: rgba(47, 193, 21, 0.1);
}
.ant-menu-item:hover {
  background-color: rgba(47, 193, 21, 0.1);
}

/* .cardContainer{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-areas: ".dateTime .dataDetails .summaryBtns";

}
.dateTime{
  background-color: #88da68;
}
.dataDetails{
  background-color: aquamarine;
}
.summaryBtns{
  background-color: rgb(30, 43, 43);
} */

.ant-layout-sider {
  width: 500px;
}
.transcript_div {
  display: flex;
  flex-direction: column;
}
.transcript {
  margin-left: 0px;
}

.medical-form {
  margin: 0 auto;
  padding: 20px;
  width: 35vw;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  overflow: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
}

.medical-form h1 {
  text-align: center;
  margin-bottom: 20px;
}
.ant-layout-footer {
  padding: 10px;
}
.ant-float-btn-default .ant-float-btn-body {
  background-color: #f3f3f3;
  color: #000000;
}

.ant-float-btn-icon {
  font-size: 30px;
  color: #000000;
}

.ant-btn.ant-btn-circle.ant-btn-lg {
  min-width: 50px;
  padding-inline-start: 0;
  padding-inline-end: 0;
  border-radius: 50%;
  min-height: 50px;
}

.ant-drawer .ant-drawer-title {
  flex: 1;
  margin: 0;
  color: rgb(35 121 34 / 88%);
  font-weight: 600;
  font-size: 23px;
  line-height: 1.5;
  font-family: sans-serif;
}

.isRead {
  padding-left: 20px;
  border-radius: 7px;
  margin-top: 10px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  color: grey;
}
.isNotRead {
  padding-left: 10px;
  border-radius: 7px;
  margin-top: 10px;
  background-color: rgba(205, 205, 205, 0.404);
}
.ant-list .ant-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  color: rgba(0, 0, 0, 0.88);
}
.icon {
  margin-right: 10px;
  font-size: 20px;
}
.ant-popover .ant-popover-inner {
  height: 500px;
  width:350px;
  margin-right: 20px;
}
.ant-popover .ant-popover-inner {
  background-color: rgb(231, 229, 229);
}
/* Hide scrollbar for Chrome, Safari and Opera */
.lists::-webkit-scrollbar {
  display: none;
}
.main-content2::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.lists {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.ant-layout .ant-layout-header {
  padding-right: 20px;
}

.ant-list-split .ant-list-item {
  border-block-end: 10px solid rgba(0, 0, 0, 0.203);
  border-radius: 5px;
  border:1px solid rgba(0, 0, 0, 0.203);
}
